@import "./variables.scss";
@import "./mixins.scss";

.Advertisement {
  font-family: $mainFont;
  padding-top: 8rem;
  width: 100%;
  margin: 2rem auto;
  @include for-tablet-landscape-down {
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
  @include for-phone-down {
    width: 320px;
    padding-top: 2rem;
  }

  .titlesContainer {
    display: flex;
    width: 1040px;
    margin: 0 auto;

    @include for-tablet-landscape-down {
      width: 580px;
      flex-direction: column-reverse;
      align-items: center;
      padding: 1rem;
    }
    @include for-phone-down {
      width: 100%;
      flex-direction: column-reverse;
      align-items: center;
      padding: 1.5rem;
    }
    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 10px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      color: #5e52ad;

      @include for-tablet-landscape-down {
        font-size: 1.7rem;
        margin-bottom: 8px;
      }
      @include for-phone-down {
        font-size: 22px;
      }
    }
    p {
      line-height: 20px;
      width: 100%;
      color: #000000;

      font-family: $links;
      @include for-tablet-landscape-down {
        font-size: 13px;
      }
      @include for-phone-down {
        font-size: 12px;
        width: 100%;
      }
    }
    .titles {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .playIcon {
        font-size: 1.5rem;
        margin-left: 10px;
        border-left: 1px solid white;
      }
      button {
        background: #00b0ff;

        width: 205px;
        padding: 8px;
        margin-top: 20px;
        outline: none;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 50px;
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        @include for-tablet-landscape-down {
          width: 165px;
        }
        @include for-phone-down {
          width: 190px;
          font-size: 10px;
          margin: 25px auto;
          padding: 4px;
        }
      }
    }
    img {
      width: 590px;
      height: auto;
      @include for-tablet-landscape-down {
        width: 320px;
        margin-left: 8rem;
      }
      @include for-phone-down {
        width: 280px;
        margin-top: 5rem;
        margin-left: 0rem;
      }
    }
  }
}
