@import "./variables.scss";
@import "./mixins.scss";

.homePage {
  font-family: $mainFont;
  background-image: url("https://i.imgur.com/vdiiJD9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-attachment: fixed;
  .banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.39);
    // padding: 2rem;

    h2 {
      font-size: 9rem;
      color: ghostwhite;
      @include for-tablet-landscape-down {
        font-size: 7rem;
      }
      @include for-phone-down {
        font-size: 2.5rem;
      }
    }
    p {
      color: ghostwhite;
      font-size: 2rem;
      text-align: center;
      @include for-phone-down {
        font-size: 1rem;
      }
    }
    button {
      background: none;
      color: white;
      font-size: 1.5rem;
      font-family: $mainFont;
      border: 2px solid white;
      padding: 0.6rem;
      width: 230px;
      border-radius: 50px;
      outline: none;
      transition: 0.7s;
      margin-top: 20px;
      &:hover {
        background: rgba(146, 153, 173, 0.534);
        transition: 0.7s;
      }
      @include for-phone-down {
        font-size: 1rem;
        width: 140px;
      }
    }
  }
}
