@import "./variables.scss";
@import './mixins.scss';
body {
  background-color: whitesmoke;
}
.homePage {
  font-family: $mainFont;
  video {
    display: block;
    width: 1200px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    background-position: center;
    @include for-tablet-landscape-down {
      width: 100%;
    }
  }
  .banner-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.63);
    padding: 2rem;
   
    h2 {
      font-size: 9rem;
      color: ghostwhite;
      @include for-tablet-landscape-down {
        font-size: 7rem;
      }
      @include for-phone-down {
        font-size: 2.5rem;
      }
    }
    p {
      color: ghostwhite;
      font-size: 2rem;
      text-align: center;
      @include for-phone-down {
        font-size: 1rem;
      }
    }
    button {
      background: none;
      color: white;
      font-size: 2rem;
      font-family: $mainFont;
      border: 2px solid white;
      padding: 0.6rem;
      width: 250px;
      border-radius: 50px;
      outline: none;
      transition: 0.7s;
      &:hover {
        background: rgba(146, 153, 173, 0.534);
        transition: 0.7s;
      }
      @include for-phone-down {
        font-size: 1rem;
        width: 140px;
      }
    }
  }
}
