@import "./variables.scss";
@import "./mixins.scss";

.imagesVideoContainer {
  font-family: $navFont;
  display: flex;
  justify-content: center;
  padding: 5rem;
  background: rgb(255, 255, 255);
  min-height: 100vh;

  @include for-tablet-landscape-down {
    padding-top: 4rem;
  }
  @include for-phone-down {
    padding: 0rem;
    padding-bottom: 1.5rem;
  }
  .firstGroupImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    width: 100%;
    // background: red;

    .desktopImg {
      max-width: 200px;
      margin-bottom: 20px;
      height: auto;
      border: 1px solid rgba(128, 128, 128, 0.349);
      cursor: pointer;
      @include for-tablet-landscape-down {
        width: 900px;
        margin-top: 3rem;
      }
      @include for-phone-down {
        max-width: 100%;
      }
      &:hover {
        -moz-transform: scale(1.1) rotate(0deg);
        -webkit-transform: scale(1.1) rotate(0deg);
        -o-transform: scale(1.1) rotate(0deg);
        -ms-transform: scale(1.1) rotate(0deg);
        transform: scale(1.1) rotate(0deg);
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -ms-transition: 0.5s;
        transition: 0.5s;
      }
    }
    div {
      display: flex;
      justify-content: center;
    }
    video {
      width: 530px;
      max-height: 50%;
      min-width: 50%;
      margin: 0px 30px;
      @include for-tablet-landscape-down {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
      }
      @include for-phone-down {
        width: 100%;
      }
    }
    @include for-tablet-landscape-down {
      margin: 0rem;
      align-items: flex-start;
      display: none;
    }
    @include for-phone-down {
      display: none;
    }
  }

  .videoContent {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
    width: 100%;
    @include for-tablet-landscape-down {
      width: 100%;
      margin: 0rem auto;
    }
    @include for-phone-down {
      width: 100%;
      padding-top: 4rem;
    }
    .smallImagesContainer {
      display: flex;
      justify-content: center;
      display: none;
      @include for-tablet-landscape-down {
        display: block;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
      }
      @include for-phone-down {
        display: block;
        // align-items: center;
        // justify-content: center;
        // margin: 10px auto;
      }
      .smallImage {
        width: 62px;
        cursor: pointer;
        @include for-tablet-landscape-down {
          width: 86px;
          margin: 1rem auto;
        }
        @include for-phone-down {
          width: 25%;
          height: auto;
          margin: 1rem auto;
          
        }
      }
    }
    h2 {
      font-size: 1.4rem;
      text-align: center;

      @include for-tablet-landscape-down {
        font-size: 1rem;
      }
    }
    p {
      color: red;
      text-align: center;
      margin: 4px;
    }
  }
  .videoContentTitles {
    display: flex;
    flex-direction: column;
    width: 800px;

    p:nth-child(5) {
      width: 80%;
      font-family: $mainFont;
      @include for-phone-down {
        width: 270px;
      }
    }
    .button {
      width: 150px;
      align-self: center;
      margin-top: 8px;
      font-family: $links;
      background: rgb(0, 27, 68);
      color: white;
      cursor: pointer;

      outline: none;
      @include for-phone-down {
        font-size: 12px;
        width: 115px;
      }
    }
    @include for-tablet-landscape-down {
      width: 550px;
    }
    @include for-phone-down {
      width: 270px;
    }
    .colors {
      display: flex;
      justify-content: center;
      .orange {
        background-color: rgb(250, 143, 42);
      }
      .blue {
        background-color: rgb(55, 123, 224);
      }
      .green {
        background-color: rgb(82, 221, 82);
      }
      .grey {
        background-color: rgb(0, 0, 0);
      }
      * {
        margin: 4px;
        width: 23px;
        height: 21px;
      }
    }

    p {
      margin-top: 5px;
      padding: 0px 30px;
      line-height: 16px;
      font-size: 13.5px;
      @include for-tablet-landscape-down {
        font-size: 12px;
        padding: 0px 0px;
      }
    }
    .sizes {
      display: flex;
      justify-content: center;
      align-items: center;
      @include for-phone-down {
        font-size: 10px;
        flex-direction: column;
      }
      .optionsFlex {
        display: flex;
        margin: 6px 0px;
        .options {
          background: rgb(240, 224, 224);
          text-align: center;
          font-weight: 900;
          margin: 10px;
          display: flex;
          justify-content: center;
          width: 2rem;
          font-size: 13px;
          @include for-phone-down {
            font-size: 10px;
          }
        }
      }
    }
  }
}

#root
  > main
  > div.imagesVideoContainer
  > div.videoContent
  > div.videoContentTitles
  > p:nth-child(6) {
  width: 100%;
}

#root
  > main
  > div.imagesVideoContainer
  > div.videoContent
  > div.smallImagesContainer
  > div
  > video {
  @include for-tablet-landscape-down {
    width: 50%;
    margin: 0 auto;
  }
  @include for-phone-down {
    width: 80%;
  }
}

.modalImages {
  width: 720px;
  height: auto;
  border: none;
  @include for-tablet-landscape-down {
    width: 500px;
    height: auto;
  }
  @include for-phone-down {
    width: 280px;
    height: auto;
  }
}

.video {
  max-height: 520px;
  min-width: 420px;
  // width: 100%;
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  @include for-tablet-landscape-down {
    height: 500px;
    margin: 0rem;
    width: 440px;
  }
  @include for-phone-down {
    margin: 0rem auto;
    width: 250px;
    min-width: 240px;
    height: auto;
    padding: 10px;
  }

  border: 1px solid rgba(128, 128, 128, 0.349);
}
