@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

$mainFont: "Raleway", sans-serif;
$navFont: "Noto Serif", serif;
$checkout: "Nanum Myeongjo", serif;
$containerColors: rgb(255, 255, 255);
$thickFont: "Anton", sans-serif;
$links: "Ubuntu", sans-serif;
